@font-face {
  src: url(../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
  font-family: MaterialIcons;
}
@font-face {
  src: url(../../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf);
  font-family: MaterialCommunityIcons;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#app {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
}
